* {
  margin: 0;
  padding: 0;
  font-family: Orbitron, sans-serif;
}

h1 {
  color: yellow;
}

.main-wrapper {
  background-image: url(./img/StarWarsApi.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.character-container {
  height: 20rem;
  width: 40rem;
  border: 2px solid yellow;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
margin-top: 2rem;
padding: .5rem;
}
